DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
DASHSCOPE_API_KEY=sk-ws-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DASHSCOPE_MODEL_NAME=qwen3.7-flash
# 严重怀疑百炼的deepseek是量化过的 表现和deepseek官方表现不一致
DEEPSEEK_MODEL_NAME=deepseek-v4-flash
DEEPSEEK_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
